div {

    display: block;
    height: 25px;
    width: auto;

    margin: 0;

}

b {

    display: inline-block;

    width: 25px;

    height: 25px;

}


b[gorilla]::before {
    content: "🦍";
    font-size: 20px;
}

b[w] {

    background: black;

}

b[g] {

    background: red;

}

b[e] {

    background: green;

}