div {

    display: block;
    height: 12px;
    width: auto;

    margin: 0;

}

b {

    display: inline-block;

    width: 12px;

    height: 12px;

}

b[w] {

    background: black;

}

b[g] {

    background: red;

}

b[e] {

    background: green;

}