#right-container {
    height: 100%;
    width: 25%;
    margin: 20px;
    float: right;

    vertical-align: middle;
    text-align:center;
    border: 1px solid rgb(158, 165, 149);

  }

#maze {
    height: 100%;
    width: 75%;
    float: left;
}

  #scoreMaze{
      margin: 10px;
  }
  #timerMaze{
      margin: 10px;
      padding-bottom: 10px;
  }

.hidden {
    display: none;
}


#start-game {
    padding: 3px 3px;
    font-size: 14px;
    text-transform: uppercase;
    border-style: solid;
    background-color: #04792b;
    color: #fff;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

.newUser{
    display:block;
    
    height: 100%;
    width: 25%;
    margin: 20px;
    float: right;
    text-align:center;
    border: 3px solid rgb(158, 165, 149);
}
.login{
    display:none;
    height: 100%;
    width: 25%;
    margin: 20px;
    float: right;

    vertical-align: middle;
    text-align:center;
    border: 1px solid rgb(158, 165, 149);
}

#maze div {
    display: block;
    height: 20px;
    width: auto;
    margin: 0;
}

b {
    display: inline-block;
    width: 20px;
    height: 20px;
}


b[gorilla]::before {
    content: "🦍";
    font-size: 15px;
}

b[banana]::before {
    content: "🍌";
    font-size: 15px;
}

b[w] {
    background: black;
}

b[g] {
    background: red;
}

b[e] {
    background: green;
}